/* =============
    Hero
============= */
#hero-text{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
     ". hero-text ."". hero-text .";

    >aside{
        grid-area: hero-text;
    }
}

/* ---------- Hero 2 ---------- */
#hero2{

}
