/* =============
    Line Up
============= */
#lineup-text{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:". lineup-text .";

    .lineup-text{
        grid-area: lineup-text;
    }
}