/* =============
    Mini Heros
============= */

.minihero-text{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". minihero-text .";

    >div{
        grid-area: minihero-text;
    }
}