/* =============
    Base
============= */
#header-footer{
    background-color:  rgba(41, 50, 65, 1);
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header-footer .";

    >div{
        grid-area: header-footer;
    }
}

.large-images{
    width: 100%;
}
