/* =============
    Base
============= */
ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}

.large-images{
    width: 100%;
}

.show-xxltext{
    display: none;
    @include xxl{
        display: block;
    }
}

.show-xxlarge {
    display: none;
    @include xxl{
        display: block;
    }

}