/* =============
    Header
============= */
header{
    background-color: rgba(41, 50, 65, 1);
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

    >div{
        grid-area: header;
    }
}