/* =============
    Hero
============= */
#hero{
    padding-bottom: 12px;
  
   #hero-sub{
    @include md{
        display: grid;
        grid-template-columns: 50% auto;
    }


    aside{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". hero .";
        background-color: rgba(226, 109, 115, 1);
        

    >div{
        grid-area: hero;
        }
    }
    }

}


   