/* =============
    Hero
============= */
#hero{
    section{
        @include md{
            display: grid;
            grid-template-columns: 40% auto;
        }
        @include lg{
            display: grid;
            grid-template-columns: 50% auto;
        }
        aside{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero-aside .";
            >div{
                grid-area: hero-aside;
            }
        }

        #hero-left{
        background-color: ;

        }
        #hero-right{
            background-color: 

    }

   
        

    >div{
        grid-area: hero;
        }
    }
    }
}
