/* =============
    Hero
============= */
#hero{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas:
     ". hero .";
}

#hero > div{
    grid-area: hero;
}

/* ---------- Hero 2 ---------- */
#hero2{

}
