/* =============
    Line Up
============= */
#lineup{
    ul{
        li{
            img{
                width: 100%;
            }
                section{ 
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas:". lineup-content .";

                    >div{
                        background:rgba(169, 195, 233, 1);
                        grid-area: lineup-content;
                    }
                }

        }            
    }
}
   
