/* =============
    Line Up
============= */
#lineup{

    h1{
        margin-left: 16px;
        padding-bottom: 10px;
    }
    @include md{
        padding-bottom: 40px;
    }

    @include lg{
        padding-bottom: 54px;
    }
    
    @include xxl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". line-up .";
        padding-bottom: 64px;
    }

    >div{
        @include xxl {
            grid-area: line-up;
        }

        ul{
            display: grid;
            gap: 16px;
            padding-bottom: 24px;
              
            @include md {
                grid-template-columns: repeat(4,1fr);
                grid-template-areas: 
                "l1 l1 l2 l2"
                "l3 l3 l4 l4"
                ".. l5 l5 ..";
            }
            @include lg{
                grid-template-columns: repeat(6,1fr);
                grid-template-areas: 
                "l1 l1 l2 l2 l3 l3"
                ". l4 l4 l5 l5 ."
            }
          
    
            li{
          
                img{
                    width: 100%;
                }
                    section{ 
                        display: grid;
                        grid-template-columns: auto;
                        grid-template-areas:". lineup-content .";
                        
    
                        >div{
                            background:var(--lightblue);
                            grid-area: lineup-content;
                            padding: 10px 16px 19px 15px;

                            a:link, a:visited{
                                color: white;
                                text-decoration: none;
                                padding: 4px 10px;
                                background-color: var(--red);
                                display:inline-block;

                            @include md{
                                padding: 19px 18px 27px 17px;
                            }

                            @include lg{
                                padding: 18px 16px 24px 15px;
                            }

                                p{
                                   padding: 20px 0 16px; 

                                   @include md{
                                        padding: 24px 0;
                                   }
                                   
                                }
                            }

    
                        }
                    }
        }  

            #l1{
            
                @include md{
                    grid-area: l1;
                    margin-left: 16px ;
                }
                @include lg{
                    margin-left: 16px ;
                }
            }

            #l2{
                @include md{
                    grid-area: l2;
                    margin-right: 16px;
                }
                @include lg{
                    margin-right: 16px ;
                }
            }

            #l3{
                @include md{
                    grid-area: l3;
                    margin-left: 16px ;
                }
                @include lg{
                    margin-left: 16px ;
                }
            }

            #l4{
                @include md{
                    grid-area: l4;
                    margin-right: 16px;
                }


            }

            #l5{
                @include md{
                    grid-area: l5;
                }
            }
        }

    }
   
}

   
