/* =============
    Mini Heros
============= */

#miniheros {
    padding-top: 16px;

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". minihero .";
    }

    @include xxl {
        grid-template-columns: auto 1000px auto;
    }

    >div {
        @include md {
            grid-area: minihero;
            gap: 10px;
            display: grid;
            grid-template-columns: 50% auto;
        }
    }

    .minihero-content {

        color: white;

        >div {
            grid-area: minihero-content;
            display: grid;
            grid-template-columns: 50% auto;
        }
        
        #minihero-left {
            background-color: var(--blue)
        }

        #minihero-right {
            background-color: var(--blue);
        }
    }
}