/* =============
    Mini Heros
============= */

#minihero{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". minihero .";
}
#minihero > div{
    grid-area: minihero;
}