/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    background-color:  rgba(41, 50, 65, 1);
    color: rgba(253, 217, 219, 1);

    >div{
        grid-area: footer;

        padding: 20px 0px;
        
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "f1 f2"
            "f1 f3";

            padding: 30px 0px 40px;
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "f1 f2 f3";

            

            padding: 48px 0px;

        @include xxl{}
        }

        #f1{
            @include md{
                grid-area: f1;
            }
        }

        #f2{
            @include md{
                grid-area: f2;
            }
        }

        #f3{
            @include md{
                grid-area: f3;

            }

            ul{
                display: flex;
                justify-content: space-between;
                

                li{ flex-direction: column;
                    
                }
           
            }
        }
    }
}
