/* =============
    Header
============= */
header{
    #logo-nav{
        background-color:  rgba(41, 50, 65, 1);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";
       
        >div{
            grid-area: logo-nav;
            img{

            }
        }
        img{
            padding: 20px 0px  
        }
    }
    
    #search{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
       
        div{
            grid-area: search;
            ul{
                display: flex;
                align-items: center;
                padding: 16px 0px;

                @include xxl{
                    margin: 0px 200px;
                }
                li{
                    form{

                        input{
        
                        }
        
                    }
                    button{
                        border: none;
                        background-color: transparent;
                        img{
                            
                        }
                    }
                }
                #searchbutton{
                    margin-left: auto ;
                }
            }
           
            
            
        }
    }
}
     