/* =============
    Header
============= */
header {
    #logo-nav {
        background-color: var(--darkblue);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";

        >div {
            grid-area: logo-nav;

            img {
                padding: 20px 0px
            }
        }
       
    }

    #search {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        padding: 16px 0px;

        @include md {
            padding: 24px 0px;

        @include xxl {
            grid-template-columns: auto 1200 auto ;
            padding: 30px 0px;
            }
        }

        div {
            grid-area: search;
                    form {
                        display: flex;


                        input {
                            width: 100%;
                            border: none;
                            border-bottom: 1px soild var(--pink);
                            border-radius: 0;
                            background-color: transparent;
                            margin: 8px;

                        @include md{
                            font-size: rem-calc(30);
                            font-weight: 300;
                        }
                        }

                        @include xl{
                            font-size: rem-calc(35);
                        }

                    }

                    button {
                        background-color: (var--red);
                        border: 0px ;
                        background-color: transparent;
                        border-radius: 5px;
                        padding: 10px 15px;
                        font-size: rem-calc(30);

                        img {}
                    }
                }
                
                #searchbutton {
                    margin-left: auto;
                }
            }



        }



