/* =============
    Header
============= */
header {
    #logo-nav {
        background-color: var(--darkblue);
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". logo-nav .";

        >div {
            grid-area: logo-nav;

            img {}
        }

        img {
            padding: 20px 0px
        }
    }

    #search {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        padding: 16px 0px;

        @include md {
            padding: 24px 0px;
        }

        div {
            grid-area: search;

            ul {


                li {
                    form {
                        display: flex;
                        align-items: center;


                        input {
                            border: 1px solid red;
                            width: 100%;
                        }

                    }

                    button {
                        border: none;
                        background-color: transparent;
                        border-radius: 5px;

                        img {}
                    }
                }

                #searchbutton {
                    margin-left: auto;
                }
            }



        }
    }
}